<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Teenpatti</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="stylesheets/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/style.css">
		<link rel="stylesheet" href="stylesheets/teenpatti.css">
		<script type="text/javascript" src="javascripts/vendor/jquery-1.10.2.js" ></script>
		<script type="text/javascript" src="javascripts/vendor/jquery-ui-1.10.3.js" ></script>
		<script type="text/javascript" src="javascripts/vendor/bootstrap.js" ></script>
		<script type="text/javascript" src="javascripts/vendor/angular-1.2.0.js" ></script>
		<script type="text/javascript" src="javascripts/teen-patti.js" ></script>
		
		</head>
		<body ng-app="teenPatti" >
			 
		</body>
	</html>